{% extends 'base.html.twig' %}

{% block body %}
    <h1>Topics list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Startdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td><a href="{{ path('topics_show', { 'id': topic.id }) }}">{{ topic.id }}</a></td>
                <td>{{ topic.title }}</td>
                <td>{{ topic.description }}</td>
                <td>{% if topic.startDate %}{{ topic.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('topics_show', { 'id': topic.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('topics_edit', { 'id': topic.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('topics_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
