{% extends 'base.html.twig' %}

{% block body %}
    <h1>Topics</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ topic.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ topic.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ topic.description }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if topic.startDate %}{{ topic.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('topics_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('topics_edit', { 'id': topic.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
